pipeline/FLASH_VENTE.json
{
	"name": "FLASH_VENTE",
	"properties": {
		"description": "Call durable function for flash vente\n",
		"activities": [
			{
				"name": "FlashVenteDurable",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/FVOrchestrator",
					"method": "POST",
					"body": {
						"inputContainer": "data-input",
						"facturationAPInput": "FacturationBW/FacturationBW_AP.csv",
						"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
						"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
						"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
						"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
						"productHierachyInput": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
						"productHierarchyLabeInput": "ReferentielArticle/Libellés_hiérarchies_articles_groupe_et_locale.xlsx",
						"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
						"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
						"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
						"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
						"commandeAcInput": "FacturationBW/CommandeBW_AC.xlsx",
						"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
						"productHierarchy": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
						"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
						"outputContainer": "data-mart",
						"bddFlashventeOutput": "Flash_Vente/Output_BDD Flash vente.csv",
						"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
						"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
						"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
						"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunctionPremium",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "waitUntilFinish",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "FlashVenteDurable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(activity('CheckStatus').output.runtimeStatus, 'Pending'), equals(activity('CheckStatus').output.runtimeStatus, 'Running')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "CheckStatus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@activity('FlashVenteDurable').output.statusQueryGetUri",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-01-27T14:17:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}