DF-VAILLANT/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DF-VAILLANT"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureFunctionPremium_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunctionPremium'"
		},
		"BASE COMMERCIALE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'BASE COMMERCIALE'"
		},
		"BLOB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BLOB'"
		},
		"data transformation azure function_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'data transformation azure function'"
		},
		"data_input_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'data_input'"
		},
		"data_mart_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'data_mart'"
		},
		"dstuto_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dstuto'"
		},
		"tuto_file_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'tuto_file'"
		},
		"AKVVAILLANT_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KVNVAILLANT.vault.azure.net/"
		},
		"AzureFunctionPremium_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-datatransfoprem.azurewebsites.net"
		},
		"BASE COMMERCIALE_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\h4h\\Desktop\\Projet H4H\\VAILLANT\\ALTERYX\\-vaillant_pilotage_commerciale\\data_warehouse"
		},
		"BASE COMMERCIALE_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "MiradoMick"
		},
		"data transformation azure function_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-datafacto-transfo-fr.azurewebsites.net"
		},
		"kvntest_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KVNVAILLANT.vault.azure.net/"
		},
		"linkedKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KVNVAILLANT.vault.azure.net/"
		},
		"VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sk-dsvaillantfr"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AKVVAILLANT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKVVAILLANT_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunctionPremium')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Premium plan ressource for azure function",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunctionPremium_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunctionPremium_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BASE COMMERCIALE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('BASE COMMERCIALE_properties_typeProperties_host')]",
					"userId": "[parameters('BASE COMMERCIALE_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('BASE COMMERCIALE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"storageName": {
						"type": "String",
						"defaultValue": "dsvaillantfr"
					},
					"key": {
						"type": "String",
						"defaultValue": "Mt+H5mVro51BjP/xWsSfrZoVNMRopaiWymXTPb6LCzrQBm8fCRSWBPZpr88CXds8C6i+ce5pXPBmhcemKsZAnw=="
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BLOB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data transformation azure function')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "this is service group the python data transformation we used in this project",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('data transformation azure function_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('data transformation azure function_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('data_input_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_mart')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('data_mart_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dstuto')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('dstuto_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kvntest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kvntest_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('linkedKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tuto_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('tuto_file_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_sq4')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 12000,
					"startTime": "2021-08-23T12:50:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Call durable function for flash vente\n",
				"activities": [
					{
						"name": "FlashVenteDurable",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/FVOrchestrator",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"facturationAPInput": "FacturationBW/FacturationBW_AP.csv",
								"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
								"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"productHierachyInput": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"productHierarchyLabeInput": "ReferentielArticle/Libellés_hiérarchies_articles_groupe_et_locale.xlsx",
								"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
								"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
								"commandeAcInput": "FacturationBW/CommandeBW_AC.xlsx",
								"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
								"productHierarchy": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
								"outputContainer": "data-mart",
								"bddFlashventeOutput": "Flash_Vente/Output_temp_BDD Flash vente.csv",
								"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
								"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
								"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
								"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "waitUntilFinish",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "FlashVenteDurable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('CheckStatus').output.runtimeStatus, 'Pending'), equals(activity('CheckStatus').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 30
									}
								},
								{
									"name": "CheckStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('FlashVenteDurable').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-01-27T14:17:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/INPUT_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "prepare azure function load",
				"activities": [
					{
						"name": "importDataMabille",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_MABILE",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Mabile",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/MABILE_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataPartedis",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_PARTEDIS",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Partedis",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/PARTEDIS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataVF_confort",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_VFCONFORT",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/VF Confort",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/CONFORT_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataOrcab",
						"description": "import data from orcab",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataEHS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_ORCAB",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/ORCAB",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/ORCAB_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataOrcab",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataPartedis",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataMabille",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataEHS",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_EHS",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Engie_Home_Services",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/EHS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PREPARATION ECOULEMENT"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-27T14:17:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data transformation azure function')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FOLDER_ECOULEMENT_CONFORT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "data_input",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "PREPARATION ECOULEMENT/VF CONFORT"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Feuil2",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "VF Confort",
						"container": "ecoulement"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data_input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VAILLANT_ARCHITECTURE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKVVAILLANT",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKVVAILLANT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 5,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALL_OFFRE_CHANTIER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REFERENTIEL_OFFRE"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ExportDet2Ans.csv",
						"folderPath": "Offre/Chantier",
						"container": "data-input"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DateDébutValidité",
						"type": "String"
					},
					{
						"name": "Date Prev Cde",
						"type": "String"
					},
					{
						"name": "Code projet",
						"type": "String"
					},
					{
						"name": "Projet",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "CP projet",
						"type": "String"
					},
					{
						"name": "Ville projet",
						"type": "String"
					},
					{
						"name": "NbLogement",
						"type": "String"
					},
					{
						"name": "Référence",
						"type": "String"
					},
					{
						"name": "Marque",
						"type": "String"
					},
					{
						"name": "Famille",
						"type": "String"
					},
					{
						"name": "Produit",
						"type": "String"
					},
					{
						"name": "Quantité",
						"type": "String"
					},
					{
						"name": "Prix de base",
						"type": "String"
					},
					{
						"name": "Prix DO",
						"type": "String"
					},
					{
						"name": "Prix pro",
						"type": "String"
					},
					{
						"name": "Prix total",
						"type": "String"
					},
					{
						"name": "Numéro interne 1",
						"type": "String"
					},
					{
						"name": "Client",
						"type": "String"
					},
					{
						"name": "Ville client",
						"type": "String"
					},
					{
						"name": "Type financement",
						"type": "String"
					},
					{
						"name": "Numéro interne 2",
						"type": "String"
					},
					{
						"name": "Négoce",
						"type": "String"
					},
					{
						"name": "Ville négoce",
						"type": "String"
					},
					{
						"name": "Statut offre",
						"type": "String"
					},
					{
						"name": "Responsable",
						"type": "String"
					},
					{
						"name": "Groupe",
						"type": "String"
					},
					{
						"name": "Offre",
						"type": "String"
					},
					{
						"name": "Date de maj statut",
						"type": "String"
					},
					{
						"name": "Numéro avant vente",
						"type": "String"
					},
					{
						"name": "Créateur offre",
						"type": "String"
					},
					{
						"name": "Commentaire interne",
						"type": "String"
					},
					{
						"name": "Offre dérogée",
						"type": "String"
					},
					{
						"name": "Contrat cadre",
						"type": "String"
					},
					{
						"name": "Offre nationale",
						"type": "String"
					},
					{
						"name": "Année Tarif",
						"type": "String"
					},
					{
						"name": "PotentielP1N",
						"type": "String"
					},
					{
						"name": "PotentielP2N",
						"type": "String"
					},
					{
						"name": "PotentielP3N",
						"type": "String"
					},
					{
						"name": "PotentielP4N",
						"type": "String"
					},
					{
						"name": "PotentielP5N",
						"type": "String"
					},
					{
						"name": "PotentielP6N",
						"type": "String"
					},
					{
						"name": "DateFinValidité",
						"type": "String"
					},
					{
						"name": "CODE_CMI",
						"type": "String"
					},
					{
						"name": "NOM_CMI",
						"type": "String"
					},
					{
						"name": "CodeATC",
						"type": "String"
					},
					{
						"name": "DEEE",
						"type": "String"
					},
					{
						"name": "OffreSupprimee",
						"type": "String"
					},
					{
						"name": "Date de création",
						"type": "String"
					},
					{
						"name": "NomSignataire1",
						"type": "String"
					},
					{
						"name": "NomSignataire2",
						"type": "String"
					},
					{
						"name": "DateSignataire1",
						"type": "String"
					},
					{
						"name": "DateSignataire2",
						"type": "String"
					},
					{
						"name": "DateDérogation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		}
	]
}