DF-VAILLANT/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DF-VAILLANT"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureFunctionPremium_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunctionPremium'"
		},
		"BASE COMMERCIALE_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'BASE COMMERCIALE'"
		},
		"BLOB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BLOB'"
		},
		"VAILLANT_ARCHITECTURE_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'VAILLANT_ARCHITECTURE'"
		},
		"data transformation azure function_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'data transformation azure function'"
		},
		"data_input_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'data_input'"
		},
		"data_mart_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'data_mart'"
		},
		"dstuto_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dstuto'"
		},
		"AzureFunctionPremium_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-datatransfoprem.azurewebsites.net"
		},
		"BASE COMMERCIALE_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\h4h\\Desktop\\Projet H4H\\VAILLANT\\ALTERYX\\-vaillant_pilotage_commerciale\\data_warehouse"
		},
		"BASE COMMERCIALE_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "MiradoMick"
		},
		"data transformation azure function_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-datafacto-transfo-fr.azurewebsites.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunctionPremium')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Premium plan ressource for azure function",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunctionPremium_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunctionPremium_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BASE COMMERCIALE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('BASE COMMERCIALE_properties_typeProperties_host')]",
					"userId": "[parameters('BASE COMMERCIALE_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('BASE COMMERCIALE_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BLOB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VAILLANT_ARCHITECTURE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('VAILLANT_ARCHITECTURE_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data transformation azure function')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "this is service group the python data transformation we used in this project",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('data transformation azure function_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('data transformation azure function_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('data_input_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_mart')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('data_mart_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dstuto')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('dstuto_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_sq4')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 12000,
					"startTime": "2021-08-23T12:50:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunFlashVente",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "Flash_vente_update",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"facturationAPInput": "FacturationBW/FacturationBW_AP.xlsx",
								"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
								"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"productHierachyInput": "Flash_Vente/Input_Ref_Product hierarchy.xlsx",
								"productHierarchyLabeInput": "Flash_Vente/Input_Ref_Product hierarchy label.xlsx",
								"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
								"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
								"commandeAcInput": "Flash_Vente/Input_CommandeBW_AC.xlsx",
								"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
								"productHierarchy": "Flash_Vente/Input_Ref_Product hierarchy.xlsx",
								"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
								"outputContainer": "data-mart",
								"bddFlashventeOutput": "Flash_Vente/Output_temp_BDD Flash vente.csv",
								"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
								"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
								"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
								"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-15T14:53:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Call durable function for flash vente\n",
				"activities": [
					{
						"name": "FlashVenteDurable",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/FVOrchestrator",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"facturationAPInput": "FacturationBW/FacturationBW_AP.xlsx",
								"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
								"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"productHierachyInput": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"productHierarchyLabeInput": "ReferentielArticle/Libellés_hiérarchies_articles_groupe_et_locale.xlsx",
								"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
								"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
								"commandeAcInput": "FacturationBW/CommandeBW_AC.xlsx",
								"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
								"productHierarchy": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
								"outputContainer": "data-mart",
								"bddFlashventeOutput": "Flash_Vente/Output_temp_BDD Flash vente.csv",
								"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
								"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
								"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
								"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "waitUntilFinish",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "FlashVenteDurable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('CheckStatus').output.runtimeStatus, 'Pending'), equals(activity('CheckStatus').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 30
									}
								},
								{
									"name": "CheckStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('FlashVenteDurable').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunFlashVente",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "Flash_vente_update",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"facturationAPInput": "FacturationBW/FacturationBW_AP.xlsx",
								"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
								"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"productHierachyInput": "Flash_Vente/Input_Ref_Product hierarchy.xlsx",
								"productHierarchyLabeInput": "Flash_Vente/Input_Ref_Product hierarchy label.xlsx",
								"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
								"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
								"commandeAcInput": "Flash_Vente/Input_CommandeBW_AC.xlsx",
								"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
								"productHierarchy": "Flash_Vente/Input_Ref_Product hierarchy.xlsx",
								"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
								"outputContainer": "data-mart",
								"bddFlashventeOutput": "Flash_Vente/Output_temp_BDD Flash vente.csv",
								"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
								"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
								"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
								"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-15T14:53:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE_draft')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunFlashVente",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_FLASH_VENTE",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"FacturationBWPath": "FacturationBW/FacturationBW.xlsx",
								"ResteALivrerPath": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"df_product_hierarchyPath": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"df_product_hierarchy_labelPath": "ReferentielArticle/Libellés_hiérarchies_articles_groupe_et_locale.xlsx",
								"df_N3_to_excludePath": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"df_SGCR_to_excludePath": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"df_motif_commande_to_excludePath": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"df_N1_to_keepPath": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"outputContainer": "data-mart",
								"outputPath": "Flash_Vente/Output_BDD_Flash_vente.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-15T14:53:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "prepare azure function load",
				"activities": [
					{
						"name": "importDataMabille",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_MABILE",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Mabile",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/MABILE_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataPartedis",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_PARTEDIS",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Partedis",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/PARTEDIS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataVF_confort",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_VFCONFORT",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/VF Confort",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/CONFORT_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataOrcab",
						"description": "import data from orcab",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataEHS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_ORCAB",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/ORCAB",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/ORCAB_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataOrcab",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataPartedis",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataMabille",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataEHS",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_EHS",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Engie_Home_Services",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/EHS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PREPARATION ECOULEMENT"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-29T13:48:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data transformation azure function')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/helloAzurefunctionCall')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "helloword",
						"description": "fuzzy join: atc 2020 2021 and  atc affectation",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HelloWord",
							"method": "POST",
							"headers": {},
							"body": {
								"name": "bobl"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataDSC",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_DSC",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"inputFolderPath": "Ecoulement/DSC",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/DSC_ECOULEMENT.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "VFimport",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_VFCONFORT",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/VF Confort",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/CONFORT_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DATA IMPORTpartedis",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_PARTEDIS",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Partedis",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/PARTEDIS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-02T08:02:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data transformation azure function')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-02T08:02:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data transformation azure function')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fuzzyjoin",
						"description": "fuzzy join: atc 2020 2021 and  atc affectation",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "fuzzyjoin",
							"method": "POST",
							"headers": {},
							"body": {
								"leftfilepath": "Temp/responsableOffreChantier.csv",
								"rightfilepath": "Temp/refATC2021Offre.csv",
								"leftkey": "UserLowerCase",
								"rightkey": "NomATC",
								"outputpath": "Temp/responsableMappingfuzzy.xlsx",
								"containername": "data-warehouse"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-15T14:53:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "data transformation azure function",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "tutoriel&test"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-02T08:02:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/data transformation azure function')]"
			]
		}
	]
}