DF-VAILLANT/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DF-VAILLANT"
		},
		"AzureFunctionPremium_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunctionPremium'"
		},
		"AKVVAILLANT_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KVNVAILLANT.vault.azure.net/"
		},
		"AzureFunctionPremium_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fa-datatransfoprem.azurewebsites.net"
		},
		"PREPROD_VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sk-dspreprodvaillant"
		},
		"VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sk-dsvaillantfr"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AKVVAILLANT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKVVAILLANT_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunctionPremium')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Premium plan ressource for azure function",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunctionPremium_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunctionPremium_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_sq4')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 12000,
					"startTime": "2021-08-23T12:50:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/createIdAvoir')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "create IndexColAvoir",
				"folder": {
					"name": "BASE COMMERCIALE"
				},
				"type": "Flowlet",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [
						{
							"name": "createColToReplicate"
						},
						{
							"name": "toList"
						},
						{
							"name": "window1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "input1"
						},
						{
							"name": "output1"
						}
					],
					"scriptLines": [
						"input(output(",
						"          mois_selection as string,",
						"          no_offre as string,",
						"          reference as string,",
						"          agence as string,",
						"          qte_valide as string,",
						"          no_cli as string,",
						"          pa_valide_vgf as string,",
						"          month as integer,",
						"          year as integer,",
						"          companyid as string,",
						"          ca_avoir as float,",
						"          yearmonth as string,",
						"          HubSapID as string",
						"     ),",
						"     order: 0) ~> input1",
						"input1 derive(dd = mapLoop(abs(toInteger(qte_valide)), #index)) ~> createColToReplicate",
						"createColToReplicate foldDown(unroll(dd, dd),",
						"     mapColumn(",
						"          mois_selection,",
						"          no_offre,",
						"          reference,",
						"          agence,",
						"          qte_valide,",
						"          no_cli,",
						"          pa_valide_vgf,",
						"          month,",
						"          year,",
						"          companyid,",
						"          ca_avoir,",
						"          yearmonth,",
						"          HubSapID,",
						"          dd",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> toList",
						"toList window(over(year,",
						"          HubSapID,",
						"          reference),",
						"     asc(year, true),",
						"     asc(HubSapID, true),",
						"     asc(reference, true),",
						"     indexcols2 = rowNumber()) ~> window1",
						"window1 derive(indexcols2 = toString(year)+\"-\"+HubSapID+\"-\"+coalesce(toString(toInteger(replace(reference, \" \", \"\"))),replace(reference, \" \", \"\"))+\"-\"+toString(indexcols2),",
						"          qte_avoir = iif(toInteger(qte_valide) >0, 1, -1 )) ~> derivedColumn1",
						"derivedColumn1 derive(ca_avoir = abs(ca_avoir)*qte_avoir) ~> derivedColumn2",
						"derivedColumn2 output() ~> output1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/createIndexFacturation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "BASE COMMERCIALE"
				},
				"type": "Flowlet",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "flatten1"
						},
						{
							"name": "window1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select1"
						},
						{
							"name": "input1"
						},
						{
							"name": "output1"
						}
					],
					"scriptLines": [
						"input(output(",
						"          temp_id as long,",
						"          qte_facturer as string,",
						"          year as string,",
						"          hubsapid as string,",
						"          reference as string,",
						"          {CA facturé} as float",
						"     ),",
						"     order: 0) ~> input1",
						"input1 derive(toroll = mapLoop(abs(toInteger( qte_facturer)), #index)) ~> derivedColumn1",
						"derivedColumn1 foldDown(unroll(toroll, toroll),",
						"     mapColumn(",
						"          temp_id,",
						"          qte_facturer,",
						"          year,",
						"          hubsapid,",
						"          reference,",
						"          {CA facturé},",
						"          toroll",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 window(over(year,",
						"          hubsapid,",
						"          reference),",
						"     asc(year, true),",
						"     asc(hubsapid, true),",
						"     asc(reference, true),",
						"     indexcols2 = rowNumber()) ~> window1",
						"window1 derive(indexcols2 = year+\"-\"+hubsapid+'-'+coalesce(toString(toInteger(replace(reference, \" \", \"\"))),replace(reference, \" \", \"\"))+'-'+toString(indexcols2),",
						"          {Qté facturée} = iif(toDouble(qte_facturer)<=0, -1, 1)) ~> derivedColumn2",
						"derivedColumn2 select(mapColumn(",
						"          temp_id,",
						"          {CA facturé},",
						"          indexcols2,",
						"          {Qté facturée}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 output() ~> output1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/decrementationVenteDirecte')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PREPARATION ECOULEMENT"
				},
				"type": "Flowlet",
				"typeProperties": {
					"sources": [],
					"sinks": [],
					"transformations": [
						{
							"name": "window1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "window2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select1"
						},
						{
							"name": "input1"
						},
						{
							"name": "output1"
						}
					],
					"scriptLines": [
						"input(output(",
						"          id as long,",
						"          PossAMid as string,",
						"          reference as string,",
						"          year as string,",
						"          month as integer,",
						"          qte_ecoulement as float,",
						"          qte_venteDirecte as float",
						"     ),",
						"     order: 0) ~> input1",
						"input1 window(over(year,",
						"          PossAMid,",
						"          reference),",
						"     asc(month, true),",
						"     qte_cumul = sum(qte_ecoulement)) ~> window1",
						"window1 derive(ecart = toDouble(qte_cumul)-toDouble(qte_venteDirecte),",
						"          signe = iif(toDouble(qte_cumul)-toDouble(qte_venteDirecte) <=0 , 0, 1)) ~> derivedColumn1",
						"derivedColumn1 window(over(year,",
						"          reference,",
						"          PossAMid),",
						"     asc(month, true),",
						"     signe_cumul = sum(signe)) ~> window2",
						"window2 derive(qt_final = iif( signe_cumul <1,0, iif (signe_cumul ==1 , toInteger(ecart), toInteger( qte_ecoulement)   ) )) ~> derivedColumn2",
						"derivedColumn2 select(mapColumn(",
						"          id,",
						"          qt_final",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 output() ~> output1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLASH_VENTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Call durable function for flash vente\n",
				"activities": [
					{
						"name": "FlashVenteDurable",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/FVOrchestrator",
							"method": "POST",
							"headers": {},
							"body": {
								"inputContainer": "data-input",
								"facturationAPInput": "FacturationBW/FacturationBW_AP.csv",
								"facturationACInput": "FacturationBW/FacturationBW_AC.xlsx",
								"resteALivrerInput": "Flash_Vente/Input_daily_Reste_à_livrer.xls",
								"n3excludeInput": "Flash_Vente/Input_Filter_RAL&BW_N3_to_exclude.xlsx",
								"ssgrExcludeInput": "Flash_Vente/Input_Filter_RAL_SGCR_to_exclude.xlsx",
								"productHierachyInput": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"productHierarchyLabeInput": "ReferentielArticle/Libellés_hiérarchies_articles_groupe_et_locale.xlsx",
								"motifCommandExclude": "Flash_Vente/Input_Filter_BW_Motif_commande_to_exclude.xlsx",
								"n1ToKeepInput": "Flash_Vente/Input_Filter_BW_N1_to_keep.xlsx",
								"objectifsInput": "Flash_Vente/Input_annual_objectives_v2.xlsx",
								"calendrier": "Flash_Vente/Input_Annual_Calendrier.xls",
								"commandeAcInput": "FacturationBW/CommandeBW_AC.xlsx",
								"previsions": "Flash_Vente/Input_daily_FlashForecast4Azure.xlsx",
								"productHierarchy": "ReferentielArticle/Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
								"budget_ex": "Flash_Vente/Input_annual_FlashBudget4Azure_v2.xlsx",
								"outputContainer": "data-mart",
								"bddFlashventeOutput": "Flash_Vente/Output_BDD Flash vente.csv",
								"graphChaudiereOutput": "Flash_Vente/Output_graph_Chaudiere_SD.xlsx",
								"graphPACSDOutput": "Flash_Vente/Output_graph_PAC_SD.xlsx",
								"graphChaudiereVAillantOuput": "Flash_Vente/Output_graph_Chaudiere_Vaillant.xlsx",
								"graphPacVaillantOutput": "Flash_Vente/Output_graph_PAC_Vaillant.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "waitUntilFinish",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "FlashVenteDurable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(activity('CheckStatus').output.runtimeStatus, 'Pending'), equals(activity('CheckStatus').output.runtimeStatus, 'Running')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 30
									}
								},
								{
									"name": "CheckStatus",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@activity('FlashVenteDurable').output.statusQueryGetUri",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-01-27T14:17:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/INPUT_LOAD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "prepare azure function load",
				"activities": [
					{
						"name": "importDataMabille",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_MABILE",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Mabile",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/MABILE_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataPartedis",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataVF_confort",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_PARTEDIS",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Partedis",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/PARTEDIS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataVF_confort",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataEHS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_VFCONFORT",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/VF Confort",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/CONFORT_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataOrcab",
						"description": "import data from orcab",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataEHS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_ORCAB",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/ORCAB",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/ORCAB_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataTereva",
						"description": "import all file un folder",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "importDataOrcab",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataPartedis",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "importDataMabille",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_TEREVA",
							"method": "POST",
							"headers": {},
							"body": {
								"inputcontainer": "data-input",
								"folderpath": "Ecoulement/Téréva",
								"outputcontainer": "data-warehouse",
								"outputpath": "Temp/TEREVA_ECOULEMENT.csv"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "importDataEHS",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "AF_IMPORT_ECOUL_EHS",
							"method": "POST",
							"headers": {},
							"body": {
								"containername": "data-input",
								"folderpath": "Ecoulement/Engie_Home_Services",
								"outputContainer": "data-warehouse",
								"outputpath": "Temp/EHS_ECOULEMENT.xlsx"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunctionPremium",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PREPARATION ECOULEMENT"
				},
				"annotations": [],
				"lastPublishTime": "2022-01-27T14:17:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunctionPremium')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PREPROD_VAILLANT_ARCHITECTURE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKVVAILLANT",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('PREPROD_VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKVVAILLANT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VAILLANT_ARCHITECTURE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKVVAILLANT",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('VAILLANT_ARCHITECTURE_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKVVAILLANT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "West Europe",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 5,
							"cleanup": false
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALL_OFFRE_CHANTIER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REFERENTIEL_OFFRE"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ExportDet2Ans.csv",
						"folderPath": "Offre/Chantier",
						"container": "data-input"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DateDébutValidité",
						"type": "String"
					},
					{
						"name": "Date Prev Cde",
						"type": "String"
					},
					{
						"name": "Code projet",
						"type": "String"
					},
					{
						"name": "Projet",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "CP projet",
						"type": "String"
					},
					{
						"name": "Ville projet",
						"type": "String"
					},
					{
						"name": "NbLogement",
						"type": "String"
					},
					{
						"name": "Référence",
						"type": "String"
					},
					{
						"name": "Marque",
						"type": "String"
					},
					{
						"name": "Famille",
						"type": "String"
					},
					{
						"name": "Produit",
						"type": "String"
					},
					{
						"name": "Quantité",
						"type": "String"
					},
					{
						"name": "Prix de base",
						"type": "String"
					},
					{
						"name": "Prix DO",
						"type": "String"
					},
					{
						"name": "Prix pro",
						"type": "String"
					},
					{
						"name": "Prix total",
						"type": "String"
					},
					{
						"name": "Numéro interne 1",
						"type": "String"
					},
					{
						"name": "Client",
						"type": "String"
					},
					{
						"name": "Ville client",
						"type": "String"
					},
					{
						"name": "Type financement",
						"type": "String"
					},
					{
						"name": "Numéro interne 2",
						"type": "String"
					},
					{
						"name": "Négoce",
						"type": "String"
					},
					{
						"name": "Ville négoce",
						"type": "String"
					},
					{
						"name": "Statut offre",
						"type": "String"
					},
					{
						"name": "Responsable",
						"type": "String"
					},
					{
						"name": "Groupe",
						"type": "String"
					},
					{
						"name": "Offre",
						"type": "String"
					},
					{
						"name": "Date de maj statut",
						"type": "String"
					},
					{
						"name": "Numéro avant vente",
						"type": "String"
					},
					{
						"name": "Créateur offre",
						"type": "String"
					},
					{
						"name": "Commentaire interne",
						"type": "String"
					},
					{
						"name": "Offre dérogée",
						"type": "String"
					},
					{
						"name": "Contrat cadre",
						"type": "String"
					},
					{
						"name": "Offre nationale",
						"type": "String"
					},
					{
						"name": "Année Tarif",
						"type": "String"
					},
					{
						"name": "PotentielP1N",
						"type": "String"
					},
					{
						"name": "PotentielP2N",
						"type": "String"
					},
					{
						"name": "PotentielP3N",
						"type": "String"
					},
					{
						"name": "PotentielP4N",
						"type": "String"
					},
					{
						"name": "PotentielP5N",
						"type": "String"
					},
					{
						"name": "PotentielP6N",
						"type": "String"
					},
					{
						"name": "DateFinValidité",
						"type": "String"
					},
					{
						"name": "CODE_CMI",
						"type": "String"
					},
					{
						"name": "NOM_CMI",
						"type": "String"
					},
					{
						"name": "CodeATC",
						"type": "String"
					},
					{
						"name": "DEEE",
						"type": "String"
					},
					{
						"name": "OffreSupprimee",
						"type": "String"
					},
					{
						"name": "Date de création",
						"type": "String"
					},
					{
						"name": "NomSignataire1",
						"type": "String"
					},
					{
						"name": "NomSignataire2",
						"type": "String"
					},
					{
						"name": "DateSignataire1",
						"type": "String"
					},
					{
						"name": "DateSignataire2",
						"type": "String"
					},
					{
						"name": "DateDérogation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALL_OFFRE_DIFFUS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "all offre diffus 2ans",
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REFERENTIEL_OFFRE"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ExportDet2Ans.csv",
						"folderPath": "Offre/Diffus",
						"container": "data-input"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DateDébutValidité",
						"type": "String"
					},
					{
						"name": "Date Prev Cde",
						"type": "String"
					},
					{
						"name": "Code projet",
						"type": "String"
					},
					{
						"name": "Projet",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "CP projet",
						"type": "String"
					},
					{
						"name": "Ville projet",
						"type": "String"
					},
					{
						"name": "NbLogement",
						"type": "String"
					},
					{
						"name": "Référence",
						"type": "String"
					},
					{
						"name": "Marque",
						"type": "String"
					},
					{
						"name": "Famille",
						"type": "String"
					},
					{
						"name": "Produit",
						"type": "String"
					},
					{
						"name": "Quantité",
						"type": "String"
					},
					{
						"name": "Prix de base",
						"type": "String"
					},
					{
						"name": "Prix DO",
						"type": "String"
					},
					{
						"name": "Prix pro",
						"type": "String"
					},
					{
						"name": "Prix total",
						"type": "String"
					},
					{
						"name": "Numéro interne 1",
						"type": "String"
					},
					{
						"name": "Client",
						"type": "String"
					},
					{
						"name": "Ville client",
						"type": "String"
					},
					{
						"name": "Type financement",
						"type": "String"
					},
					{
						"name": "Numéro interne 2",
						"type": "String"
					},
					{
						"name": "Négoce",
						"type": "String"
					},
					{
						"name": "Ville négoce",
						"type": "String"
					},
					{
						"name": "Statut offre",
						"type": "String"
					},
					{
						"name": "Responsable",
						"type": "String"
					},
					{
						"name": "Groupe",
						"type": "String"
					},
					{
						"name": "Offre",
						"type": "String"
					},
					{
						"name": "Date de maj statut",
						"type": "String"
					},
					{
						"name": "Numéro avant vente",
						"type": "String"
					},
					{
						"name": "Créateur offre",
						"type": "String"
					},
					{
						"name": "Commentaire interne",
						"type": "String"
					},
					{
						"name": "Offre dérogée",
						"type": "String"
					},
					{
						"name": "Contrat cadre",
						"type": "String"
					},
					{
						"name": "Offre nationale",
						"type": "String"
					},
					{
						"name": "Année Tarif",
						"type": "String"
					},
					{
						"name": "PotentielP1N",
						"type": "String"
					},
					{
						"name": "PotentielP2N",
						"type": "String"
					},
					{
						"name": "PotentielP3N",
						"type": "String"
					},
					{
						"name": "PotentielP4N",
						"type": "String"
					},
					{
						"name": "PotentielP5N",
						"type": "String"
					},
					{
						"name": "PotentielP6N",
						"type": "String"
					},
					{
						"name": "DateFinValidité",
						"type": "String"
					},
					{
						"name": "CODE_CMI",
						"type": "String"
					},
					{
						"name": "NOM_CMI",
						"type": "String"
					},
					{
						"name": "CodeATC",
						"type": "String"
					},
					{
						"name": "DEEE",
						"type": "String"
					},
					{
						"name": "OffreSupprimee",
						"type": "String"
					},
					{
						"name": "Date de création",
						"type": "String"
					},
					{
						"name": "NomSignataire1",
						"type": "String"
					},
					{
						"name": "NomSignataire2",
						"type": "String"
					},
					{
						"name": "DateSignataire1",
						"type": "String"
					},
					{
						"name": "DateSignataire2",
						"type": "String"
					},
					{
						"name": "DateDérogation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARTICLE_HIERARCHIE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "REFERENTIEL ARTICLE"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Articles_avec_hiérarchie_Articles_groupe_et_locale.xlsx",
						"folderPath": "ReferentielArticle",
						"container": "data-input"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "OrgCm",
						"type": "String"
					},
					{
						"name": "CDis",
						"type": "String"
					},
					{
						"name": "Article",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Hiérarch.groupe",
						"type": "String"
					},
					{
						"name": "Hiérarch.locale",
						"type": "String"
					},
					{
						"name": "Predecessor",
						"type": "String"
					},
					{
						"name": "Successor",
						"type": "String"
					},
					{
						"name": "St",
						"type": "String"
					},
					{
						"name": "Désignation Statut",
						"type": "String"
					},
					{
						"name": "Déb. val.",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArctileHierarchi')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BASE_COMMERCIAL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "HIERARCHIE_ARTICLE",
						"container": "data-warehouse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrgCm",
						"type": "String"
					},
					{
						"name": "CDis",
						"type": "String"
					},
					{
						"name": "Article",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Hiérarch.groupe",
						"type": "String"
					},
					{
						"name": "Hiérarch.locale",
						"type": "String"
					},
					{
						"name": "Predecessor",
						"type": "String"
					},
					{
						"name": "Successor",
						"type": "String"
					},
					{
						"name": "St",
						"type": "String"
					},
					{
						"name": "Désignation Statut",
						"type": "String"
					},
					{
						"name": "Déb. val.",
						"type": "String"
					},
					{
						"name": "N1.groupe",
						"type": "String"
					},
					{
						"name": "N2.groupe",
						"type": "String"
					},
					{
						"name": "N3.groupe",
						"type": "String"
					},
					{
						"name": "N4.groupe",
						"type": "String"
					},
					{
						"name": "N5.groupe",
						"type": "String"
					},
					{
						"name": "N6.groupe",
						"type": "String"
					},
					{
						"name": "N7.groupe",
						"type": "String"
					},
					{
						"name": "N1.locale",
						"type": "String"
					},
					{
						"name": "N2.locale",
						"type": "String"
					},
					{
						"name": "N3.locale",
						"type": "String"
					},
					{
						"name": "N4.locale",
						"type": "String"
					},
					{
						"name": "N5.locale",
						"type": "String"
					},
					{
						"name": "N6.locale",
						"type": "String"
					},
					{
						"name": "N7.locale",
						"type": "String"
					},
					{
						"name": "N1.groupe.designation",
						"type": "String"
					},
					{
						"name": "N2.groupe.designation",
						"type": "String"
					},
					{
						"name": "N3.groupe.designation",
						"type": "String"
					},
					{
						"name": "N4.groupe.designation",
						"type": "String"
					},
					{
						"name": "N5.groupe.designation",
						"type": "String"
					},
					{
						"name": "N6.groupe.designation",
						"type": "String"
					},
					{
						"name": "N7.groupe.designation",
						"type": "String"
					},
					{
						"name": "N1.locale.designation",
						"type": "String"
					},
					{
						"name": "N2.locale.designation",
						"type": "String"
					},
					{
						"name": "N3.locale.designation",
						"type": "String"
					},
					{
						"name": "N4.locale.designation",
						"type": "String"
					},
					{
						"name": "N5.locale.designation",
						"type": "String"
					},
					{
						"name": "N6.locale.designation",
						"type": "String"
					},
					{
						"name": "N7.locale.designation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AvoirForVanMarkesInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "VANMARKES"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "AvoirForVanMarkes.csv",
						"folderPath": "Temp",
						"container": "data-warehouse"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Mois_Selection",
						"type": "String"
					},
					{
						"name": "Code_depot",
						"type": "String"
					},
					{
						"name": "NoOffre",
						"type": "String"
					},
					{
						"name": "NoArtVGF",
						"type": "String"
					},
					{
						"name": "Agence",
						"type": "String"
					},
					{
						"name": "Qte_Validee_VGF",
						"type": "String"
					},
					{
						"name": "NoCli",
						"type": "String"
					},
					{
						"name": "PA_Valide_VGF",
						"type": "String"
					},
					{
						"name": "Mois",
						"type": "String"
					},
					{
						"name": "Année",
						"type": "String"
					},
					{
						"name": "CompanyId",
						"type": "String"
					},
					{
						"name": "toreplicate",
						"type": "String"
					},
					{
						"name": "ca_avoir",
						"type": "String"
					},
					{
						"name": "yearmonth",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BASE_AVANT_TRAITEMENT_ATC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BASE_COMMERCIAL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "base commerciale.csv",
						"folderPath": "Temp",
						"container": "data-warehouse"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "affecte/non_affecte",
						"type": "String"
					},
					{
						"name": "plateforme/vente directe",
						"type": "String"
					},
					{
						"name": "origine de la ligne",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "Code client livré",
						"type": "String"
					},
					{
						"name": "code client plateforme livree",
						"type": "String"
					},
					{
						"name": "code produit",
						"type": "String"
					},
					{
						"name": "quantite",
						"type": "String"
					},
					{
						"name": "ca",
						"type": "String"
					},
					{
						"name": "Code postal du client livré",
						"type": "String"
					},
					{
						"name": "marque",
						"type": "String"
					},
					{
						"name": "ID marque",
						"type": "String"
					},
					{
						"name": "ID canal de distribution",
						"type": "String"
					},
					{
						"name": "Nom du canal",
						"type": "String"
					},
					{
						"name": "Diffus/Chantier",
						"type": "String"
					},
					{
						"name": "document_vente (vente directe)",
						"type": "String"
					},
					{
						"name": "Agence commerciale corrigé (vente directe)",
						"type": "String"
					},
					{
						"name": "Donneur d'ordre (vente directe)",
						"type": "String"
					},
					{
						"name": "Facture (vente directe)",
						"type": "String"
					},
					{
						"name": "Type poste Facture (vente directe)",
						"type": "String"
					},
					{
						"name": "Numéro offre",
						"type": "String"
					},
					{
						"name": "ATC Corrigé (vente directe)",
						"type": "String"
					},
					{
						"name": "ATC offre",
						"type": "String"
					},
					{
						"name": "ATC livré",
						"type": "String"
					},
					{
						"name": "ATC Performance",
						"type": "String"
					},
					{
						"name": "NomATC",
						"type": "String"
					},
					{
						"name": "Matricule",
						"type": "String"
					},
					{
						"name": "Motif commande (vente directe)",
						"type": "String"
					},
					{
						"name": "Type de facture (vente directe)",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "N1groupe",
						"type": "String"
					},
					{
						"name": "N2groupe",
						"type": "String"
					},
					{
						"name": "N3groupe",
						"type": "String"
					},
					{
						"name": "N4groupe",
						"type": "String"
					},
					{
						"name": "N5groupe",
						"type": "String"
					},
					{
						"name": "N6groupe",
						"type": "String"
					},
					{
						"name": "N7groupe",
						"type": "String"
					},
					{
						"name": "N1groupedesignation",
						"type": "String"
					},
					{
						"name": "N2groupedesignation",
						"type": "String"
					},
					{
						"name": "N3groupedesignation",
						"type": "String"
					},
					{
						"name": "N4groupedesignation",
						"type": "String"
					},
					{
						"name": "N5groupedesignation",
						"type": "String"
					},
					{
						"name": "N6groupedesignation",
						"type": "String"
					},
					{
						"name": "N7groupedesignation",
						"type": "String"
					},
					{
						"name": "N1localedesignation",
						"type": "String"
					},
					{
						"name": "N2localedesignation",
						"type": "String"
					},
					{
						"name": "N3localedesignation",
						"type": "String"
					},
					{
						"name": "N4localedesignation",
						"type": "String"
					},
					{
						"name": "N5localedesignation",
						"type": "String"
					},
					{
						"name": "N6localedesignation",
						"type": "String"
					},
					{
						"name": "N7localedesignation",
						"type": "String"
					},
					{
						"name": "N1locale",
						"type": "String"
					},
					{
						"name": "N2locale",
						"type": "String"
					},
					{
						"name": "N3locale",
						"type": "String"
					},
					{
						"name": "N4locale",
						"type": "String"
					},
					{
						"name": "N5locale",
						"type": "String"
					},
					{
						"name": "N6locale",
						"type": "String"
					},
					{
						"name": "N7locale",
						"type": "String"
					},
					{
						"name": "Hiérarchgroupe",
						"type": "String"
					},
					{
						"name": "Hiérarchlocale",
						"type": "String"
					},
					{
						"name": "Numéro du compte",
						"type": "String"
					},
					{
						"name": "EPS_Nom du compte",
						"type": "String"
					},
					{
						"name": "EPS_Groupe cible/Typologie générale",
						"type": "String"
					},
					{
						"name": "EPS_Sous groupe cible/Typologie détaillée",
						"type": "String"
					},
					{
						"name": "EPS_Compte principal: Numéro du compte",
						"type": "String"
					},
					{
						"name": "EPS_Compte principal: Nom du compte",
						"type": "String"
					},
					{
						"name": "Client",
						"type": "String"
					},
					{
						"name": "Numéro client indirect",
						"type": "String"
					},
					{
						"name": "CODE_CMI",
						"type": "String"
					},
					{
						"name": "NOM_CMI",
						"type": "String"
					},
					{
						"name": "Nom du compte",
						"type": "String"
					},
					{
						"name": "Client Indirect_ Groupe cible/Typologie générale",
						"type": "String"
					},
					{
						"name": "Client Indirect_ Sous groupe cible/Typologie détaillée",
						"type": "String"
					},
					{
						"name": "Client Indirect_  Compte principal: Numéro du compte",
						"type": "String"
					},
					{
						"name": "Client Indirect_  Compte principal: Nom du compte",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CALCUL_REMUNERATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CONTRAT DISTRIBUTION"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CALCUL_REMUNERATION.csv",
						"folderPath": "Temp",
						"container": "data-warehouse"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID contrat cadre",
						"type": "String"
					},
					{
						"name": "ID contrat",
						"type": "String"
					},
					{
						"name": "ID levier",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "ca",
						"type": "String"
					},
					{
						"name": "Réalisé",
						"type": "String"
					},
					{
						"name": "Somme quantité",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CALCUL_SEUIL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VAILLANT_ARCHITECTURE",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CONTRAT DISTRIBUTION"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CALCUL_SEUIL.csv",
						"folderPath": "Temp",
						"container": "data-warehouse"
					},
					"columnDelimiter": ";",
					"encodingName": "WINDOWS-1252",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Max ID Seuil",
						"type": "String"
					},
					{
						"name": "Contrepartie seuil",
						"type": "String"
					},
					{
						"name": "ID contrat cadre",
						"type": "String"
					},
					{
						"name": "ID contrat",
						"type": "String"
					},
					{
						"name": "ID levier",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VAILLANT_ARCHITECTURE')]"
			]
		}
	]
}